@model List<GamesModel>
@{
    ViewData["Title"] = "Listagem de Games";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <!--asp-controller menciona qual controller será acessada-->
        <!--asp-action se refere à View-->
        <a class="btn btn-primary" 
           role="button" 
           asp-controller="Games" 
           asp-action="Criar">
           Adicionar novo Game
       </a>
    </div>

    <br />

    <h1 class="display-4">Listagem de Games</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome do Jogo</th>
                <th scope="col">Estúdio</th>
                <th scope="col">Plataforma</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(GamesModel games in Model)
                {
                <tr>
                    <th scope="row">@games.Id</th>
                    <td>@games.NomeJogo</td>
                    <td>@games.Estudio</td>
                    <td>@games.Plataforma</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-controller="Games" asp-action="Editar" asp-route-id="@games.Id">Editar</a>
                            <a role="button" class="btn btn-danger" asp-controller="Games" asp-action="ApagarConfirmacao" asp-route-id="@games.Id">Apagar</a>
                        </div>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

